h1 {
    text-align: center;
}

.color-my-name {
    color: rgb(218, 24, 185);
}

section {
    display: flex;
}

.half-width {
    width: 50%;

    padding: 5px;

}

.half-width img {
    width: 100%;
}

.About-Me {
    background-color: aquamarine;
    border-radius: 50px;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 20px 20px;
}

.Hire-me {
    margin-top: 20px;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, rgb(241, 207, 11));
    padding: 10px 40px;
    border-radius: 20px;
}

.top-banner {
    background-image: url(bg1.jpg);
}

.bg-color {
    background-color: antiquewhite;
}

.bg2-color {
    background-color: rgb(223, 223, 13);
}

.Rodefi {
    font-weight: 700;
    color: blueviolet;
}

.Aboutme {
    text-decoration: underline;
}

.Skills {

    background-color: aqua;
    text-align: center;

}

.skills-coulmn1 {
    background-color: aqua;

}

.table-column2 {
    text-align: center;
    font-size: 15px;

}

.table-size {
    border-radius: 50px;
    margin: 20px;
}